<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings file="custom.appSettings.config">
    <add key="clrh100demo1.url" value="https://clrh100demo1.azurewebsites.net/"/>
    <!-- NFCタグIDのMD5ハッシュを求める際に書き加えるソルト値です。 -->
    <add key="salt" value="8e4a"/>
    <!-- 開錠を許可する、NFCタグIDのMD5ハッシュ値を、カンマ区切りで列記します。 -->
    <add key="authorizedKeys" value=""/>
  </appSettings>

  <nlog autoReload="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
          fileName="${basedir}/trace.txt"
          layout="${longdate} ${level:uppercase=true} ${message}"
          archiveFileName="${basedir}/trace.{#####}.txt"
          maxArchiveFiles="10"
          archiveAboveSize="4194304"
          archiveNumbering="Sequence"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="UTF-8" />
      <target name="debugfile" xsi:type="File"
          fileName="${basedir}/debug.txt"
          layout="${longdate} ${level:uppercase=true} ${message}"
          archiveFileName="${basedir}/debug.{#####}.txt"
          maxArchiveFiles="10"
          archiveAboveSize="4194304"
          archiveNumbering="Sequence"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="UTF-8" />
      <target name="console" xsi:type="Console"
          layout="${message}"
          encoding="UTF-8" />
    </targets>

    <rules>
      <!--
      minlevel 属性を Trace か Off かに書き換えることで、出力の有無を制御します。
      -->
      <logger name="Logger" minlevel="Trace" writeTo="file,console" />
      <logger name="Debug" minlevel="Off" writeTo="debugfile,console" />
    </rules>

  </nlog>
</configuration>